body {
  display: flex;
  justify-content: center;
  background-color: rgb(84, 199, 199);
}

.primary{
  color: rgb(0, 0, 0);
  background-color: bisque;
  width: fit-content;
}

.font-xl{
  font-size: 24px;
  width: 500px;
}