/* Remove default list styling */
.bookCoverGrid {
  list-style: none;
  padding: 0;
  /* margin: 2rem auto; */
  display: grid;

  /* Responsive grid */
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;

  max-width: 1200px;
}

/* Individual book card */
.bookCoverGrid .bookCard {
  background: #036b9b;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect */
.bookCoverGrid .bookCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

/* Book cover */
.bookCoverGrid .bookCard .coverImage {
  width: 100%;
  max-width: 140px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 0.75rem;
}

/* book info */
.bookCoverGrid .bookCard .bookInfo {
  display: block;
  font-size: 1rem;
  margin: 0.25rem 0;
  color: #000000;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.pagination button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
}

.pagination button:hover {
  background: #444;
}

.inputBox{
  display: grid;
  /* background-color: antiquewhite; */
  margin: 5px;
  padding: 5px;
  max-width: fit-content;
}

.textInput{
  margin: 5px;
  max-width: fit-content;
}

.buttonClass {
  border: none;
  padding: 12px 22px;
  border-radius: 999px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.25s ease;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  color: white;
  backdrop-filter: blur(8px);
  margin: 5px;
}

.buttonClass:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #5be3b7, #2b6bbd);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.addButton{
  background: linear-gradient(135deg, #ffffff, #aeaeae);
  padding: 10px;
  color: #000000;
}
.addButton:hover{
  background: linear-gradient(135deg, #ffffff, #6e6d6d);
}