.footerInfo {
  bottom: 0;
  right: 0;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.buttonClass {
  border: none;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 999px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.25s ease;
  background: rgb(148, 215, 113);
  color: white;
  backdrop-filter: blur(8px);
}

.buttonClass:hover {
  transform: translateY(-2px);
  background:  rgb(148, 215, 113);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}